server {
  listen 443 ssl default_server;
  listen [::]:443 ssl default_server;

  root /var/www/html;

  index index.html index.htm index.nginx-debian.html;

  server_name _;

  location / {
    try_files $uri $uri/ =404;
  }

  ssl               on;
  ssl_protocols      SSLv3 TLSv1;
  ssl_certificate  /etc/kamailio/kamailio-selfsigned.pem;
  ssl_certificate_key /etc/kamailio/kamailio-selfsigned.key;


}